body,section{padding: 0;margin: 0;}

html{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	color: #444;
	overflow: hidden;
	font-family: "calluna-sans",Helvetica,Hiragino Sans GB,Microsoft JhengHei,WenQuanYi Micro Hei,sans-serif;
}

.view-window{
	margin-left: 50%;
	overflow-x: hidden;
	overflow-y: auto; 
	height: 100%;
}



.edit-window{
	float: left;
	width: 50%;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #ccc;
}

.tool-bar h1{
	display: inline-block;
	margin-top: 1em;
}

.tool-bar h1 a{
	text-decoration: none;
	color: #999;
}

.tool-bar h1 a:hover{
	color: #000;
}


.content{
	width: 90%;
	padding:0 5%;
  	overflow: auto;
  	height: 90%
}

.tool-bar{
	border-bottom: 1px solid #ccc;
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.tool-bar ul{
	margin-top: 1em;
	display: inline-block;
	float: right;
	overflow: hidden;
}

.tool-bar ul li:first-child{
	float: left;
}

.tool-bar li{
	font-size: 1em;
	color: #fff;
	opacity: 0.7;
	list-style: none;
	display: inline;
	float: right;
	margin-left: 10px;
	padding: 3px 15px;
	background-color: #3DBE60;
	border-radius: 5px;
	cursor: pointer;
}



.edit-box{
	height: 90%;
	width: 100%;
}

.edit-window textarea{
	color: #444;
	width: 100%;
	height: 100%;
	padding: 30px 5%;
	font-size: 15px;
	line-height: 2.5em;
	resize: none;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: 0;
	outline: medium;
}



/*
 * edit-full-screen-mode : 编辑时候进入全屏，显示退出全屏，和预览按钮，隐藏全屏按钮
 * preview-mode：预览，隐藏编辑框，显示预览框，显示预览框上面的工具条
 * 其他：隐藏预览框上面的工具条，隐藏编辑框工具条中的退出全屏 
*/



.edit-full-screen-mode .edit-window{
	width: 100%;
	margin: auto;
	float: none;
	border-right: 0;

}

.edit-full-screen-mode .edit-window textarea{
	padding-left: 5%;
	padding-right: 5%;
}

.edit-full-screen-mode .view-window{
	display: none;
}

.edit-full-screen-mode .edit-window .tool-bar{
	width: 90%;
}

/*隐藏编辑框中退出全屏按钮*/

#exit-edit-full-screen{
	display: none;
}

.edit-full-screen-mode #edit-full-screen{
	display: none;
}



.edit-full-screen-mode .edit-window .edit-preview,.edit-full-screen{
	display: none;
}


.edit-full-screen-mode .edit-window #exit-edit-full-screen{
	display: inline;
}

#view-exit-full-screen{
	display: none;
}


.preview-mode .edit-window{
	display: none;
}

.preview-mode .view-window{
	width: 100%;
	margin: auto;
	float: none;
	height: initial;
}

.preview-mode #view-exit-full-screen{
	display: block;
}

.preview-mode #preview{
	display: none;
}

.preview-mode .view-window .tool-bar{
	width: 90%;
	margin: auto;
	display: block;
}


.preview-mode .view-window .content{
	width: 90%;
	margin: auto;
}


 body.preview-mode{
	overflow: auto;
}

