html {
  height: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.edit-window {
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  box-shadow: 1px 0px 0px 0px #ccc;
  float: left;
}
.edit-window html {
  height: initial;
}
.edit-window body {
  overflow: auto;
}
.edit-window .view-window {
  width: 100%;
  padding-top: 0px;
}
.edit-window .view-window header {
  display: none;
}
.edit-window .edit-window {
  display: none;
}
.edit-window header {
  position: absolute;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  top: 0;
  left: 0;
}
.edit-window header a {
  font-size: 1.2em;
  color: #000;
  font-weight: bold;
}
.edit-window header span {
  display: inline-block;
  padding: 0 5px;
  margin-left: 20px;
  color: #fff;
  background-color: #72BF72;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}
.edit-window header span:hover {
  background-color: #080;
}
.edit-window header span:last-of-type {
  margin-left: 0;
}
.edit-window .edit-box {
  height: 100%;
}
.edit-window .edit-box textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 0;
  padding: 20px;
  outline: medium;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.view-window {
  float: right;
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
}
.view-window html {
  height: initial;
}
.view-window body {
  overflow: auto;
}
.view-window .view-window {
  width: 100%;
  padding-top: 0px;
}
.view-window .view-window header {
  display: none;
}
.view-window .edit-window {
  display: none;
}
.view-window header {
  position: absolute;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  top: 0;
  left: 0;
  margin-left: 1px;
}
.view-window header a {
  font-size: 1.2em;
  color: #000;
  font-weight: bold;
}
.view-window header span {
  display: inline-block;
  padding: 0 5px;
  margin-left: 20px;
  color: #fff;
  background-color: #72BF72;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}
.view-window header span:hover {
  background-color: #080;
}
.view-window header span:last-of-type {
  margin-left: 0;
}
.view-window .content {
  height: 100%;
  overflow: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.fullscreen-edit .edit-window {
  width: 100%;
}
.fullscreen-edit .view-window {
  display: none;
}
.fullscreen-preview .view-window {
  width: 100%;
  height: initial;
}
.fullscreen-preview .view-window header {
  position: fixed;
  border-bottom: none;
}
.fullscreen-preview .edit-window {
  display: none;
}
body.fullscreen-preview {
  height: initial;
  overflow: auto;
}
@media print {
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  html {
    height: initial;
  }
  body {
    overflow: auto;
  }
  .view-window {
    width: 100%;
    padding-top: 0px;
  }
  .view-window header {
    display: none;
  }
  .edit-window {
    display: none;
  }
}
