body,section{margin: 0;padding: 0;}

html{
	height: 100%;

    font-size: 14px;
}

body{
    position: relative;

	width: 100%;
	height: 100%;
	color: #444;

	font-family: "calluna-sans",Helvetica,Hiragino Sans GB,Microsoft JhengHei,WenQuanYi Micro Hei,sans-serif;
}

.md-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.edit-window,
.view-window{
    position: absolute;
    top: 0;

    overflow: hidden;

    box-sizing: border-box;
    width: 50%;
	height: 100%;
}
.edit-window{
    left: 0;

	border-right: 1px solid #ccc;
}
.view-window{
    right: 0;
}

.edit-box,
.preview-box{
    box-sizing: border-box;
    height: 100%;
	padding-top: 40px;
}

.edit-window .editor-container{
	width: 100%;
    height: 100%;
    padding: 5px 0;
}

.edit-window .text-editor{
	width: 100%;
	height: 100%;
    font-size: 14px;
	line-height: 3em;
}
.edit-window textarea{
    width: 100%;
	height: 100%;
    background: transparent;
    resize: none;
    padding: 0 10px;
    box-sizing: border-box;
	color: #444;
	border: 0;
	outline: medium;
}

.edit-window .scrollbar{
    position: absolute;
    right: 0;
    width: 10px;
    background: #c1c1c1;
}

.preview-box .content{
    box-sizing:border-box;
    padding: 0 10px;
    font-size: 14px;
    height: 100%;
    overflow-y: auto;
}


.tool-bar{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0 1px;

    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    line-height: 40px;

    z-index: 1;
}
.tool-bar a{
    padding-left: 20px;
}
.btn{
    display: inline-block;
    margin-right: 20px;
    padding: 5px 8px;
    border: none;

    cursor: pointer;
    transition: color .5s;

	color: #fff;
    border-radius: 2px;
    background: #3DBE60;

    outline: none;

    font-size: 12px;
    line-height: 1em;
}
.btn:hover{
    background: #3D9E60;
}

.btn--danger{
    background-color: #C62828;
}
.btn--danger:hover{
    background-color: rgba(198, 40, 40, 0.7);
}

.btn--disable{
    opacity: 0.5;
    cursor: no-drop;
}

.tool-bar .btn{
    float: right;
    margin-top: 9px;
}

.tool-bar__text{
    float: right;
    margin:9px 10px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1em;
}



.fullscreen-edit .edit-window{
	width: 100%;
}

.fullscreen-edit .view-window{
	display: none;
}

.fullscreen-preview .view-window{
	width: 100%;
}

.fullscreen-preview .edit-window{
	display: none;
}
/*
.setting{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.setting__panel{
    width: 400px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}

.setting__title{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.setting__item{
    margin: 10px 0;
}

.setting__item label{
    display: block;
}

.setting__item input{
    display: block;
    width: 100%;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
}

.setting__item .setting__item-domain{
    position: relative;
}

.setting__item .setting__item-domain input{
    padding-left: 50px;
}

.setting__item .setting__item-domain::after{
    content: 'http://';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 33px;
}

.setting__item input:focus{
    outline: 1px solid #3DBE60;
}

.setting__panel .btn{
    margin-bottom: 0;
}

*/
.storage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.678);
    z-index: -1;
    transition: 500ms;
}

.storage--visible{
    z-index: 2;
}

.storage__sidebar{
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    border-right:1px solid #ddd;
    z-index: 2;
    transform: translateX(-100%);
    transition: 500ms;
}

.storage__sidebar--visible{
    transform: translateX(0);
}

.storage__header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 140px;
    border-bottom: 1px solid #ddd;
    z-index: 2;
}

.storage__header-title{
    font-size: 18px;
    padding: 10px 0;
}

.storage__header-warning{
    margin-bottom: 5px;
    font-size: 10px;
    font-size: 12px;
    color: #3dbe60;
}

.storage__header .btn{
    margin: 0;
    margin-right: 10px;
}

.storage__search{
	padding: 0 20px;
	box-sizing: border-box;
}

.storage__search-input{
    position: relative;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.storage__search-input:hover{
	border-color: #c4c4c4;
}

.storage__list{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 40px;
}

.storage__list-inner{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}


.storage__list-item{
	padding: 15px 20px 5px 20px;;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.storage__list-item:hover{
    background: #3DBE60;
}

.storage__list-item .date{
    font-size: 11px;
}
.storage__list-item .text{
    font-size: 14px;    
}

.storage__list-item-btns{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.storage__list-item .btn{
    background: #fff;
    color: #3D9E60;
    visibility: hidden;
    margin: 0;
    float: right;
    margin-right: 15px;
}
.storage__list-item .btn--danger{
    background: #C62828;
    color: #fff;
}


.storage__list-item:hover .btn{
    visibility: visible;
}

.storage__list-footer{
    padding: 5px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #3dbe60;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}


/* Alert */
.alert{
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.alert__box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ddd;
}

.alert__content{
    padding: 30px 20px;
}

.alert__footer{
    border-top: 1px solid #ddd;
    padding: 8px 0px;
    overflow: hidden;
}

.alert__footer .btn{
    float: right;
}

.message__box{
    position: fixed;
    z-index: 10000;
    top: 20px;
    right: 50px;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px #e9e9e9;
    background: #fff;
}

.message__box--info{
    background-color: #3dbe60;
    color: #fff;
}
.message__box--error{
    color: #fff;
    background-color: #ff5722;
}

@media print {
    body{
        height: initial;
    }
    .edit-window{
        display: none;
    }
    .storage{
        display: none;
    }
    .preview-box .content {
        padding: 0!important;
    }
    .view-window{
        position: static;

        overflow: auto;

        width: 100%;
        height: initial;
    }
    .preview-box{
        padding: 0;
    }
    .tool-bar{
        display: none;
    }
}


.img-description {
    text-align: center;
}

.img-description>p {
    font-style: italic;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 auto;
    text-indent: 0;
    border-bottom: 1px solid #d9d9d9;
}

