.preview-box {
    font-size: 14px;
}

.preview-box .content{
    box-sizing:border-box;
    padding: 0 10px;
    height: 100%;
    overflow-y: auto;
}



.language-chart{
    max-width: 800px;
    margin: 2em auto;    
}


.katex--error{
    border: 2px solid #F44336;
    display: block;
    text-align: center;
    color: #f44336;
}


.typo p img:only-of-type{
    display: block;
    margin: auto;
}