html{
	height: 100%;
	font-size: 14px;
}
body{
	margin: 0;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.tool-bar(){
	position: absolute;
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	top: 0;
	left: 0;
	a{
		font-size: 1.2em;
		color: #000;
        font-weight: bold;
	}
	span{
		display: inline-block;
		padding: 0 5px;
        margin-left: 20px;
		color: #fff;
		background-color: #72BF72;
        float: right;
		border-radius: 5px;
		cursor: pointer;
		&:hover{
			background-color: #080;
		}
        &:last-of-type{
            margin-left: 0;
        }
	}
}
.box(){
	width: 50%;
	height: 100%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding-top: 50px;
}




.edit-window{
	.box;
	box-shadow: 1px 0px 0px 0px #ccc;
	float: left;
	header{
		.tool-bar;
	}
	.edit-box{
		height: 100%;
		textarea{
			width: 100%;
			height: 100%;
			resize: none;
			border: 0;
			padding: 20px;
			outline: medium;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			-webkit-box-sizing:border-box; /* Safari */
		}
	}
}
.view-window{
	float: right;
	.box;
	header{
		.tool-bar;
        margin-left: 1px;
	}
	.content{
		height: 100%;
		overflow: auto;
		padding: 10px 20px;
    box-sizing: border-box;
	}
}


.fullscreen-edit{
	.edit-window{
		width: 100%;
	}
	.view-window{
		display: none;
	}
}


.fullscreen-preview{
	.view-window{
		width: 100%;
		height: initial;
        header{
            position: fixed;
            border-bottom: none;
        }
	}
	.edit-window{
		display: none;
	}
}
body.fullscreen-preview{
	height: initial;
	overflow: auto;
}


.print(){
	html{
		height: initial;
	}
	body{
        height: initial;
	    overflow: auto;
	}
	.view-window{
		width: 100%;
		padding-top: 0px;
		header{
			display: none;
		}
	}
	.edit-window{
		display: none;
	}
}

@media print {
	.print;
}


// scrollbar style

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}


::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    border-radius: 10px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}