<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>markdown 预览</title>
    <meta name="keywords" content="online markdown editor,markdown 编辑器,markdown 在线编辑器" />
    <meta name="description" content="一个在线 markdown 编辑器" />
    <link rel="stylesheet" href="../build/style_view.css">
</head>
<body>
    <div id="markdown"></div>
    <script src="https://cdn.jsdelivr.net/npm/requirejs@2.1.20/require.min.js"></script>
    <script src='../build/view.js'></script>
</body>
</html>
